In [1]:
import pandas as pd
import numpy as np

In [2]:
#1
auto = pd.read_fwf("auto.dat", header = None, widths = [19,4,6,3,2,2,4,5,3,5,4,3,4,4], 
                   na_values='.')
auto.columns = ['model','origin', 'price', 'mpg', 'rep78', 'rep77', 'hroom', 'rseat', 
                'trunk', 'weight', 'length', 'turn', 'displa', 'gratio']
auto

,model,origin,price,mpg,rep78,rep77,hroom,rseat,trunk,weight,length,turn,displa,gratio
0,AMC CONCORD,A,4099,22,3.0,2.0,2.5,27.5,11,2930,186,40,121,3.58
1,AMC PACER,A,4749,17,3.0,1.0,3.0,25.5,11,3350,173,40,258,2.53
2,AMC SPIRIT,A,3799,22,NaN,NaN,3.0,18.5,12,2640,168,35,121,3.08
3,AUDI 5000,E,9690,17,5.0,2.0,3.0,27.0,15,2830,189,37,131,3.20
4,AUDI FOX,E,6295,23,3.0,3.0,2.5,28.0,11,2070,174,36,97,3.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,VW RABBIT,E,4697,25,4.0,3.0,3.0,25.5,15,1930,155,35,89,3.78
70,VW RABBIT DIESEL,E,5397,41,5.0,4.0,3.0,25.5,15,2040,155,35,90,3.78
71,VW SCIROCCO,E,6850,25,4.0,3.0,2.0,23.5,16,1990,156,36,97,3.78
72,VW DASHER,E,7140,23,4.0,3.0,2.5,37.5,12,2160,172,36,97,3.74
73,VOLVO 260,E,11995,17,5.0,3.0,2.5,29.5,14,3170,193,37,163,2.98

In [3]:
auto1 = auto[['price','mpg','hroom','rseat','weight','length','gratio']]
auto1

    price  mpg  hroom  rseat  weight  length  gratio
0    4099   22    2.5   27.5    2930     186    3.58
1    4749   17    3.0   25.5    3350     173    2.53
2    3799   22    3.0   18.5    2640     168    3.08
3    9690   17    3.0   27.0    2830     189    3.20
4    6295   23    2.5   28.0    2070     174    3.70
..    ...  ...    ...    ...     ...     ...     ...
69   4697   25    3.0   25.5    1930     155    3.78
70   5397   41    3.0   25.5    2040     155    3.78
71   6850   25    2.0   23.5    1990     156    3.78
72   7140   23    2.5   37.5    2160     172    3.74
73  11995   17    2.5   29.5    3170     193    2.98

[74 rows x 7 columns]

In [4]:
ones=pd.DataFrame({'ones': np.ones(74)})
ones

    ones
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
..   ...
69   1.0
70   1.0
71   1.0
72   1.0
73   1.0

[74 rows x 1 columns]

In [5]:
#sample mean (x_bar)
x_bar=ones.transpose().dot(auto1)/len(auto1)
x_bar

,price,mpg,hroom,rseat,weight,length,gratio
ones,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108

In [6]:
#compare with built-in function
auto1.mean()

price     6192.283784
mpg         21.297297
hroom        2.986486
rseat       26.817568
weight    3010.810811
length     188.067568
gratio       3.018108
dtype: float64

In [7]:
ones_matrix=pd.DataFrame(np.ones((74,7)), columns=['price','mpg','hroom','rseat','weight','length','gratio'])
ones_matrix

    price  mpg  hroom  rseat  weight  length  gratio
0     1.0  1.0    1.0    1.0     1.0     1.0     1.0
1     1.0  1.0    1.0    1.0     1.0     1.0     1.0
2     1.0  1.0    1.0    1.0     1.0     1.0     1.0
3     1.0  1.0    1.0    1.0     1.0     1.0     1.0
4     1.0  1.0    1.0    1.0     1.0     1.0     1.0
..    ...  ...    ...    ...     ...     ...     ...
69    1.0  1.0    1.0    1.0     1.0     1.0     1.0
70    1.0  1.0    1.0    1.0     1.0     1.0     1.0
71    1.0  1.0    1.0    1.0     1.0     1.0     1.0
72    1.0  1.0    1.0    1.0     1.0     1.0     1.0
73    1.0  1.0    1.0    1.0     1.0     1.0     1.0

[74 rows x 7 columns]

In [8]:
x_bar_rep = pd.concat([x_bar]*74)
x_bar_rep.columns=['price','mpg','hroom','rseat','weight','length','gratio']
x_bar_rep.reset_index(inplace = True, drop = True)
x_bar_rep

,price,mpg,hroom,rseat,weight,length,gratio
0,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
1,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
2,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
3,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
4,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
...,...,...,...,...,...,...,...
69,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
70,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
71,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
72,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108
73,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108

In [9]:
auto2=auto1-x_bar_rep
auto2

,price,mpg,hroom,rseat,weight,length,gratio
0,-2093.283784,0.702703,-0.486486,0.682432,-80.810811,-2.067568,0.561892
1,-1443.283784,-4.297297,0.013514,-1.317568,339.189189,-15.067568,-0.488108
2,-2393.283784,0.702703,0.013514,-8.317568,-370.810811,-20.067568,0.061892
3,3497.716216,-4.297297,0.013514,0.182432,-180.810811,0.932432,0.181892
4,102.716216,1.702703,-0.486486,1.182432,-940.810811,-14.067568,0.681892
...,...,...,...,...,...,...,...
69,-1495.283784,3.702703,0.013514,-1.317568,-1080.810811,-33.067568,0.761892
70,-795.283784,19.702703,0.013514,-1.317568,-970.810811,-33.067568,0.761892
71,657.716216,3.702703,-0.986486,-3.317568,-1020.810811,-32.067568,0.761892
72,947.716216,1.702703,-0.486486,10.682432,-850.810811,-16.067568,0.721892
73,5802.716216,-4.297297,-0.486486,2.682432,159.189189,4.932432,-0.038108

In [10]:
# sample covariance matrix (S)
S=auto2.transpose().dot(auto2)/(len(auto1)-1)
S

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,-8086.619770,315.401148,3950.367549,1.270005e+06,28977.720289,-434.503565
mpg,-8.086620e+03,33.472047,-1.989078,-8.945020,-3.732025e+03,-103.239541,1.609200
hroom,3.154011e+02,-1.989078,0.705294,1.353665,3.280933e+02,9.672158,-0.140437
rseat,3.950368e+03,-8.945020,1.353665,9.777906,1.438712e+03,43.944002,-0.564117
weight,1.270005e+06,-3732.025176,328.093299,1438.711588,6.144925e+05,16777.615698,-268.835431
length,2.897772e+04,-103.239541,9.672158,43.944002,1.677762e+04,502.091262,-7.057953
gratio,-4.345036e+02,1.609200,-0.140437,-0.564117,-2.688354e+02,-7.057953,0.205394

In [11]:
#compare with built-in function
auto1.cov()

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,-8086.619770,315.401148,3950.367549,1.270005e+06,28977.720289,-434.503565
mpg,-8.086620e+03,33.472047,-1.989078,-8.945020,-3.732025e+03,-103.239541,1.609200
hroom,3.154011e+02,-1.989078,0.705294,1.353665,3.280933e+02,9.672158,-0.140437
rseat,3.950368e+03,-8.945020,1.353665,9.777906,1.438712e+03,43.944002,-0.564117
weight,1.270005e+06,-3732.025176,328.093299,1438.711588,6.144925e+05,16777.615698,-268.835431
length,2.897772e+04,-103.239541,9.672158,43.944002,1.677762e+04,502.091262,-7.057953
gratio,-4.345036e+02,1.609200,-0.140437,-0.564117,-2.688354e+02,-7.057953,0.205394

In [12]:
#create matrix with diagonal components repeated for each row
Si=S.copy()
for i in range(7):
    Si.iloc[i,:]=S.iloc[i,i]
Si

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,8.632196e+06,8.632196e+06,8.632196e+06,8.632196e+06,8.632196e+06,8.632196e+06
mpg,3.347205e+01,3.347205e+01,3.347205e+01,3.347205e+01,3.347205e+01,3.347205e+01,3.347205e+01
hroom,7.052943e-01,7.052943e-01,7.052943e-01,7.052943e-01,7.052943e-01,7.052943e-01,7.052943e-01
rseat,9.777906e+00,9.777906e+00,9.777906e+00,9.777906e+00,9.777906e+00,9.777906e+00,9.777906e+00
weight,6.144925e+05,6.144925e+05,6.144925e+05,6.144925e+05,6.144925e+05,6.144925e+05,6.144925e+05
length,5.020913e+02,5.020913e+02,5.020913e+02,5.020913e+02,5.020913e+02,5.020913e+02,5.020913e+02
gratio,2.053936e-01,2.053936e-01,2.053936e-01,2.053936e-01,2.053936e-01,2.053936e-01,2.053936e-01

In [13]:
#create matrix with diagonal components repeated for each column
Sj=S.copy()
for j in range(7):
    Sj.iloc[:,j]=S.iloc[j,j]
Sj

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,33.472047,0.705294,9.777906,614492.484265,502.091262,0.205394
mpg,8.632196e+06,33.472047,0.705294,9.777906,614492.484265,502.091262,0.205394
hroom,8.632196e+06,33.472047,0.705294,9.777906,614492.484265,502.091262,0.205394
rseat,8.632196e+06,33.472047,0.705294,9.777906,614492.484265,502.091262,0.205394
weight,8.632196e+06,33.472047,0.705294,9.777906,614492.484265,502.091262,0.205394
length,8.632196e+06,33.472047,0.705294,9.777906,614492.484265,502.091262,0.205394
gratio,8.632196e+06,33.472047,0.705294,9.777906,614492.484265,502.091262,0.205394

In [14]:
#sample correlation matrix (R)
R=S/np.sqrt(Si)/np.sqrt(Sj)
R

           price       mpg     hroom     rseat    weight    length    gratio
price   1.000000 -0.475735  0.127825  0.429986  0.551425  0.440162 -0.326317
mpg    -0.475735  1.000000 -0.409379 -0.494444 -0.822896 -0.796368  0.613727
hroom   0.127825 -0.409379  1.000000  0.515470  0.498372  0.513981 -0.368980
rseat   0.429986 -0.494444  0.515470  1.000000  0.586938  0.627170 -0.398064
weight  0.551425 -0.822896  0.498372  0.586938  1.000000  0.955170 -0.756719
length  0.440162 -0.796368  0.513981  0.627170  0.955170  1.000000 -0.695015
gratio -0.326317  0.613727 -0.368980 -0.398064 -0.756719 -0.695015  1.000000

In [15]:
#compare with built-in function
auto1.corr()

           price       mpg     hroom     rseat    weight    length    gratio
price   1.000000 -0.475735  0.127825  0.429986  0.551425  0.440162 -0.326317
mpg    -0.475735  1.000000 -0.409379 -0.494444 -0.822896 -0.796368  0.613727
hroom   0.127825 -0.409379  1.000000  0.515470  0.498372  0.513981 -0.368980
rseat   0.429986 -0.494444  0.515470  1.000000  0.586938  0.627170 -0.398064
weight  0.551425 -0.822896  0.498372  0.586938  1.000000  0.955170 -0.756719
length  0.440162 -0.796368  0.513981  0.627170  0.955170  1.000000 -0.695015
gratio -0.326317  0.613727 -0.368980 -0.398064 -0.756719 -0.695015  1.000000

In [16]:
#2
applicant = pd.read_csv('applican.dat', header = None, delim_whitespace=True)
applicant.columns = ['ID','FL','APP','AA','LA','SC','LC','HON','SMS','EXP',
                     'DRV','AMB','GSP','POT','KJ','SUIT']
applicant

    ID  FL  APP  AA  LA  SC  LC  HON  SMS  EXP  DRV  AMB  GSP  POT  KJ  SUIT
0    1   6    7   2   5   8   7    8    8    3    8    9    7    5   7    10
1    2   9   10   5   8  10   9    9   10    5    9    9    8    8   8    10
2    3   7    8   3   6   9   8    9    7    4    9    9    8    6   8    10
3    4   5    6   8   5   6   5    9    2    8    4    5    8    7   6     5
4    5   6    8   8   8   4   4    9    5    8    5    5    8    8   7     7
5    6   7    7   7   6   8   7   10    5    9    6    5    8    6   6     6
6    7   9    9   8   8   8   8    8    8   10    8   10    8    9   8    10
7    8   9    9   9   8   9   9    8    8   10    9   10    9    9   9    10
8    9   9    9   7   8   8   8    8    5    9    8    9    8    8   8    10
9   10   4    7  10   2  10  10    7   10    3   10   10   10    9   3    10
10  11   4    7  10   0  10   8    3    9    5    9   10    8   10   2     5
11  12   4    7  10   4  10  10    7    8    2    8    8   10   10   3     7
12  13   6    9   8  10   5   4    9    4    4    4    5    4    7   6     8
13  14   8    9   8   9   6   3    8    2    5    2    6    6    7   5     6
14  15   4    8   8   7   5   4   10    2    7    5    3    6    6   4     6
15  16   6    9   6   7   8   9    8    9    8    8    7    6    8   6    10
16  17   8    7   7   7   9   5    8    6    6    7    8    6    6   7     8
17  18   6    8   8   4   8   8    6    4    3    3    6    7    2   6     4
18  19   6    7   8   4   7   8    5    4    4    2    6    8    3   5     4
19  20   4    8   7   8   8   9   10    5    2    6    7    9    8   8     9
20  21   3    8   6   8   8   8   10    5    3    6    7    8    8   5     8
21  22   9    8   7   8   9  10   10   10    3   10    8   10    8  10     8
22  23   7   10   7   9   9   9   10   10    3    9    9   10    9  10     8
23  24   9    8   7  10   8  10   10   10    2    9    7    9    9  10     8
24  25   6    9   7   7   4   5    9    3    2    4    4    4    4   5     4
25  26   7    8   7   8   5   4    8    2    3    4    5    6    5   5     6
26  27   2   10   7   9   8   9   10    5    3    5    6    7    6   4     5
27  28   6    3   5   3   5   3    5    0    0    3    3    0    0   5     0
28  29   4    3   4   3   3   0    0    0    0    4    4    0    0   5     0
29  30   4    6   5   6   9   4   10    3    1    3    3    2    2   7     3
30  31   5    5   4   7   8   4   10    3    2    5    5    3    4   8     3
31  32   3    3   5   7   7   9   10    3    2    5    3    7    5   5     2
32  33   2    3   5   7   7   9   10    3    2    2    3    6    4   5     2
33  34   3    4   6   4   3   3    8    1    1    3    3    3    2   5     2
34  35   6    7   4   3   3   0    9    0    1    0    2    3    1   5     3
35  36   9    8   5   5   6   6    8    2    2    2    4    5    6   6     3
36  37   4    9   6   4  10   8    8    9    1    3    9    7    5   3     2
37  38   4    9   6   6   9   9    7    9    1    2   10    8    5   5     2
38  39  10    6   9  10   9  10   10   10   10   10    8   10   10  10    10
39  40  10    6   9  10   9  10   10   10   10   10   10   10   10  10    10
40  41  10    7   8   0   2   1    2    0   10    2    0    3    0   0    10
41  42  10    3   8   0   1   1    0    0   10    0    0    0    0   0    10
42  43   3    4   9   8   2   4    5    3    6    2    1    3    3   3     8
43  44   7    7   7   6   9   8    8    6    8    8   10    8    8   6     5
44  45   9    6  10   9   7   7   10    2    1    5    5    7    8   4     5
45  46   9    8  10  10   7   9   10    3    1    5    7    9    9   4     4
46  47   0    7  10   3   5   0   10    0    0    2    2    0    0   0     0
47  48   0    6  10   1   5   0   10    0    0    2    2    0    0   0     0

In [17]:
#repeat steps in problem 1 to obtain sample correlation matrix of 'applicant' data
#get mean
applicant1 = applicant[['LC','SC','SMS']]
ones=pd.DataFrame({'ones': np.ones(48)})
applicant1_mean=ones.transpose().dot(applicant1)/len(applicant1)
applicant1_mean

          LC      SC       SMS
ones  6.3125  6.9375  4.854167

In [18]:
#get sample covariance matrix
ones_matrix=pd.DataFrame(np.ones((48,3)), columns=['LC','SC','SMS'])
applicant1_mean_rep = pd.concat([applicant1_mean]*48)
applicant1_mean_rep.columns=['LC','SC','SMS']
applicant1_mean_rep.reset_index(inplace = True, drop = True)
applicant2=applicant1-applicant1_mean_rep
applicant1_S=applicant2.transpose().dot(applicant2)/(len(applicant1)-1)
applicant1_S

            LC        SC        SMS
LC   10.049202  6.190160   8.918883
SC    6.190160  5.847074   6.650266
SMS   8.918883  6.650266  11.829344

In [19]:
#get sample correlation matrix
Si=applicant1_S.copy()
for i in range(3):
    Si.iloc[i,:]=applicant1_S.iloc[i,i]

Sj=applicant1_S.copy()
for j in range(3):
    Sj.iloc[:,j]=applicant1_S.iloc[j,j]

applicant1_R=applicant1_S/np.sqrt(Si)/np.sqrt(Sj)
applicant1_R

           LC        SC       SMS
LC   1.000000  0.807545  0.818021
SC   0.807545  1.000000  0.799631
SMS  0.818021  0.799631  1.000000

In [20]:
from scipy import stats

In [21]:
#hypothesis test (LC,SC)
r1=applicant1_R.loc['LC','SC']
test_stat1=r1*np.sqrt(len(applicant1)-2)/np.sqrt(1-r1**2)
test_stat1

9.286167554204495

In [22]:
pval1=stats.t.sf(abs(test_stat1), df=len(applicant1)-2)*2
pval1 #reject H0

4.0639656387803185e-12

In [23]:
#hypothesis test (SC,SMS)
r2=applicant1_R.loc['SC','SMS']
test_stat2=r2*np.sqrt(len(applicant1)-2)/np.sqrt(1-r2**2)
test_stat2

9.031519908359895

In [24]:
pval2=stats.t.sf(abs(test_stat2), df=len(applicant1)-2)*2
pval2 #reject H0

9.36887045337637e-12

In [25]:
#hypothesis test (LC,SMS)
r3=applicant1_R.loc['LC','SMS']
test_stat3=r3*np.sqrt(len(applicant1)-2)/np.sqrt(1-r3**2)
test_stat3

9.645682381129252

In [26]:
pval3=stats.t.sf(abs(test_stat3), df=len(applicant1)-2)*2
pval3 #reject H0

1.2657331399964358e-12

In [27]:
#3
#Let us find confidence intervals for population correlation at significance level Î±=0.05
#Thus we use the critical value z=1.96 for our calculations
#(a) Fisher's Method
#95% confidence interval for (LC,SC)
LB=np.tanh(np.arctanh(r1))-1.96/np.sqrt(len(applicant1)-3)
UB=np.tanh(np.arctanh(r1))+1.96/np.sqrt(len(applicant1)-3)
Fisher_CI1=[LB,UB]
Fisher_CI1

[0.5153654674900736, 1.0997245656100185]

In [28]:
#95% confidence interval for (SC,SMS)
LB=np.tanh(np.arctanh(r2))-1.96/np.sqrt(len(applicant1)-3)
UB=np.tanh(np.arctanh(r2))+1.96/np.sqrt(len(applicant1)-3)
Fisher_CI2=[LB,UB]
Fisher_CI2

[0.5074509884887892, 1.0918100866087341]

In [29]:
#95% confidence interval for (LC,SMS)
LB=np.tanh(np.arctanh(r3))-1.96/np.sqrt(len(applicant1)-3)
UB=np.tanh(np.arctanh(r3))+1.96/np.sqrt(len(applicant1)-3)
Fisher_CI3=[LB,UB]
Fisher_CI3

[0.5258412472892071, 1.110200345409152]

In [30]:
#(b) Ruben's Method
def Ruben(n,u,r):
    r_star=r/np.sqrt(1-r**2)
    a=2*n-3-u**2
    b=r_star*np.sqrt((2*n-3)*(2*n-5))
    c=(2*n-5-u**2)*r_star**2-2*u**2
    
    y1=(2*b-np.sqrt(4*b**2-4*a*c))/(2*a)
    y2=(2*b+np.sqrt(4*b**2-4*a*c))/(2*a)
    
    LB=y1/np.sqrt(1+y1**2)
    UB=y2/np.sqrt(1+y2**2)
    CI=[LB,UB]
    
    return CI

In [31]:
#95% confidence interval for (LC,SC)
Ruben_CI1=Ruben(len(applicant1),1.96,r1)
Ruben_CI1

[0.6743872594356897, 0.88613287625536]

In [32]:
#95% confidence interval for (SC,SMS)
Ruben_CI2=Ruben(len(applicant1),1.96,r2)
Ruben_CI2

[0.6621112658103576, 0.8812466165978315]

In [33]:
#95% confidence interval for (LC,SMS)
Ruben_CI3=Ruben(len(applicant1),1.96,r3)
Ruben_CI3

[0.6907590310532484, 0.8925747130461664]

In [34]:
#4
#Use mean substitution method for missing values in all variables except 'rep78'
auto3=auto.reindex(columns=['model','origin', 'price', 'mpg', 'rep77', 'hroom', 'rseat', 
                'trunk', 'weight', 'length', 'turn', 'displa', 'gratio'])
auto3

,model,origin,price,mpg,rep77,hroom,rseat,trunk,weight,length,turn,displa,gratio
0,AMC CONCORD,A,4099,22,2.0,2.5,27.5,11,2930,186,40,121,3.58
1,AMC PACER,A,4749,17,1.0,3.0,25.5,11,3350,173,40,258,2.53
2,AMC SPIRIT,A,3799,22,NaN,3.0,18.5,12,2640,168,35,121,3.08
3,AUDI 5000,E,9690,17,2.0,3.0,27.0,15,2830,189,37,131,3.20
4,AUDI FOX,E,6295,23,3.0,2.5,28.0,11,2070,174,36,97,3.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,VW RABBIT,E,4697,25,3.0,3.0,25.5,15,1930,155,35,89,3.78
70,VW RABBIT DIESEL,E,5397,41,4.0,3.0,25.5,15,2040,155,35,90,3.78
71,VW SCIROCCO,E,6850,25,3.0,2.0,23.5,16,1990,156,36,97,3.78
72,VW DASHER,E,7140,23,3.0,2.5,37.5,12,2160,172,36,97,3.74
73,VOLVO 260,E,11995,17,3.0,2.5,29.5,14,3170,193,37,163,2.98

In [35]:
mean_sub=auto.fillna(value=auto3.mean())
mean_sub

,model,origin,price,mpg,rep78,rep77,hroom,rseat,trunk,weight,length,turn,displa,gratio
0,AMC CONCORD,A,4099,22,3.0,2.00000,2.5,27.5,11,2930,186,40,121,3.58
1,AMC PACER,A,4749,17,3.0,1.00000,3.0,25.5,11,3350,173,40,258,2.53
2,AMC SPIRIT,A,3799,22,NaN,3.19697,3.0,18.5,12,2640,168,35,121,3.08
3,AUDI 5000,E,9690,17,5.0,2.00000,3.0,27.0,15,2830,189,37,131,3.20
4,AUDI FOX,E,6295,23,3.0,3.00000,2.5,28.0,11,2070,174,36,97,3.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,VW RABBIT,E,4697,25,4.0,3.00000,3.0,25.5,15,1930,155,35,89,3.78
70,VW RABBIT DIESEL,E,5397,41,5.0,4.00000,3.0,25.5,15,2040,155,35,90,3.78
71,VW SCIROCCO,E,6850,25,4.0,3.00000,2.0,23.5,16,1990,156,36,97,3.78
72,VW DASHER,E,7140,23,4.0,3.00000,2.5,37.5,12,2160,172,36,97,3.74
73,VOLVO 260,E,11995,17,5.0,3.00000,2.5,29.5,14,3170,193,37,163,2.98

In [36]:
import statsmodels.formula.api as sm

In [37]:
#Use regression method
model = sm.ols(formula="rep78 ~ price + mpg + rep77 + hroom + rseat + trunk + weight + length + turn + displa + gratio", data=mean_sub).fit()
model.params

Intercept    5.115108
price        0.000043
mpg         -0.006684
rep77        0.629205
hroom        0.023721
rseat        0.010905
trunk        0.041055
weight       0.000259
length      -0.010368
turn        -0.073785
displa      -0.003038
gratio      -0.020136
dtype: float64

In [38]:
#rows with NaN for variable 'rep78'
missing=mean_sub.loc[[2,9,52,56,62],:]
missing

,model,origin,price,mpg,rep78,rep77,hroom,rseat,trunk,weight,length,turn,displa,gratio
2,AMC SPIRIT,A,3799,22,NaN,3.19697,3.0,18.5,12,2640,168,35,121,3.08
9,BUICK OPEL,A,4453,26,NaN,3.19697,3.0,24.0,10,2230,170,34,304,2.87
52,PEUGEOT 604 SL,E,12990,14,NaN,3.19697,3.5,30.5,14,3420,192,38,163,3.58
56,PLYM. SAPPORO,A,6486,26,NaN,3.19697,1.5,22.0,8,2520,182,38,119,3.54
62,PONT. PHOENIX,A,4424,19,NaN,3.19697,3.5,27.0,13,3420,203,43,231,3.08

In [39]:
prediction=pd.DataFrame(model.predict(missing), columns=['rep78'])
prediction

       rep78
2   3.838687
9   3.213037
52  4.106392
56  3.365051
62  2.946001

In [40]:
#fill missing values with predicted values
regression = mean_sub.fillna(value=prediction)
regression

,model,origin,price,mpg,rep78,rep77,hroom,rseat,trunk,weight,length,turn,displa,gratio
0,AMC CONCORD,A,4099,22,3.000000,2.00000,2.5,27.5,11,2930,186,40,121,3.58
1,AMC PACER,A,4749,17,3.000000,1.00000,3.0,25.5,11,3350,173,40,258,2.53
2,AMC SPIRIT,A,3799,22,3.838687,3.19697,3.0,18.5,12,2640,168,35,121,3.08
3,AUDI 5000,E,9690,17,5.000000,2.00000,3.0,27.0,15,2830,189,37,131,3.20
4,AUDI FOX,E,6295,23,3.000000,3.00000,2.5,28.0,11,2070,174,36,97,3.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,VW RABBIT,E,4697,25,4.000000,3.00000,3.0,25.5,15,1930,155,35,89,3.78
70,VW RABBIT DIESEL,E,5397,41,5.000000,4.00000,3.0,25.5,15,2040,155,35,90,3.78
71,VW SCIROCCO,E,6850,25,4.000000,3.00000,2.0,23.5,16,1990,156,36,97,3.78
72,VW DASHER,E,7140,23,4.000000,3.00000,2.5,37.5,12,2160,172,36,97,3.74
73,VOLVO 260,E,11995,17,5.000000,3.00000,2.5,29.5,14,3170,193,37,163,2.98

In [41]:
#Mean and standard deviation before imputation
print(auto['rep78'].mean(),auto['rep78'].std())

3.4057971014492754 0.989932270109041

In [42]:
#Mean and standard deviation after imputation
print(regression['rep78'].mean(),regression['rep78'].std())

3.411745510352649 0.9620434775947883