In [1]:
import numpy as np
import pandas as pd

### Prompt

In [2]:
train=input('Please enter the name of the training data file (e.g. boston_tr.csv): ')

Please enter the name of the training data file (e.g. boston_tr.csv): boston_tr.csv

In [3]:
test=input('Please enter the name of the test data file: (e.g. boston_tst.csv): ')

Please enter the name of the test data file: (e.g. boston_tst.csv): boston_tst.csv

In [4]:
df_train=pd.read_csv(train)
df_train

,crim,zn,indus,chas,nox,rm,age,dis,tax,ptratio,black,lstat,medv
0,0.01311,90.0,1.22,0,0.403,7.249,21.9,8.6966,226,17.9,395.93,4.81,35.4
1,0.25356,0.0,9.90,0,0.544,5.705,77.7,3.9450,304,18.4,396.42,11.50,16.2
2,0.49298,0.0,9.90,0,0.544,6.635,82.5,3.3175,304,18.4,396.90,4.54,22.8
3,0.36920,0.0,9.90,0,0.544,6.567,87.3,3.6023,304,18.4,395.69,9.28,23.8
4,13.91340,0.0,18.10,0,0.713,6.208,95.0,2.2222,666,20.2,100.63,15.17,11.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,0.03306,0.0,5.19,0,0.515,6.059,37.3,4.8122,224,20.2,396.14,8.51,20.6
339,0.05515,33.0,2.18,0,0.472,7.236,41.1,4.0220,222,18.4,393.68,6.93,36.1
340,4.09740,0.0,19.58,0,0.871,5.468,100.0,1.4118,403,14.7,396.90,26.42,15.6
341,0.03359,75.0,2.95,0,0.428,7.024,15.8,5.4011,252,18.3,395.62,1.98,34.9
342,0.10153,0.0,12.83,0,0.437,6.279,74.5,4.0522,398,18.7,373.66,11.97,20.0

In [5]:
df_test=pd.read_csv(test)
df_test

,crim,zn,indus,chas,nox,rm,age,dis,tax,ptratio,black,lstat,medv
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,242,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,242,17.8,392.83,4.03,34.7
2,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,311,15.2,396.90,19.15,27.1
3,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,311,15.2,386.71,17.10,18.9
4,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,311,15.2,396.90,13.27,18.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,0.27957,0.0,9.69,0,0.585,5.926,42.6,2.3817,391,19.2,396.90,13.59,24.5
143,0.28960,0.0,9.69,0,0.585,5.390,72.9,2.7986,391,19.2,396.90,21.14,19.7
144,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,391,19.2,396.90,14.33,16.8
145,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,273,21.0,396.90,5.64,23.9
146,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,273,21.0,396.90,7.88,11.9

### Multiple Linear Regression

#### Train data

In [6]:
Y_train = df_train['medv'] #response variable from train data
Y_train

0      35.4
1      16.2
2      22.8
3      23.8
4      11.7
       ...
338    20.6
339    36.1
340    15.6
341    34.9
342    20.0
Name: medv, Length: 343, dtype: float64

In [7]:
Z_train_col = df_train.columns.delete(12) #columns of predictor variables
Z_train=df_train[Z_train_col] #predictor variables
ones=pd.DataFrame(np.ones(len(df_train),dtype=np.int8))
Z_train=pd.concat([ones,Z_train],axis=1)
Z_train=Z_train.T.reset_index(drop=True).T #reset columns
Z_train #predictor variables with constant term

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.0,0.01311,90.0,1.22,0.0,0.403,7.249,21.9,8.6966,226.0,17.9,395.93,4.81
1,1.0,0.25356,0.0,9.90,0.0,0.544,5.705,77.7,3.9450,304.0,18.4,396.42,11.50
2,1.0,0.49298,0.0,9.90,0.0,0.544,6.635,82.5,3.3175,304.0,18.4,396.90,4.54
3,1.0,0.36920,0.0,9.90,0.0,0.544,6.567,87.3,3.6023,304.0,18.4,395.69,9.28
4,1.0,13.91340,0.0,18.10,0.0,0.713,6.208,95.0,2.2222,666.0,20.2,100.63,15.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,1.0,0.03306,0.0,5.19,0.0,0.515,6.059,37.3,4.8122,224.0,20.2,396.14,8.51
339,1.0,0.05515,33.0,2.18,0.0,0.472,7.236,41.1,4.0220,222.0,18.4,393.68,6.93
340,1.0,4.09740,0.0,19.58,0.0,0.871,5.468,100.0,1.4118,403.0,14.7,396.90,26.42
341,1.0,0.03359,75.0,2.95,0.0,0.428,7.024,15.8,5.4011,252.0,18.3,395.62,1.98
342,1.0,0.10153,0.0,12.83,0.0,0.437,6.279,74.5,4.0522,398.0,18.7,373.66,11.97

In [8]:
B_train_hat=pd.DataFrame((np.linalg.inv(Z_train.T.dot(Z_train))).dot(Z_train.T).dot(Y_train))
B_train_hat=round(B_train_hat,3)
B_train_hat

         0
0   23.685
1   -0.074
2    0.030
3   -0.075
4    1.109
5   -5.275
6    4.001
7   -0.036
8   -1.080
9   -0.005
10  -0.677
11   0.007
12  -0.365

In [9]:
#Fitted values for train data
Y_train_hat = Z_train.dot(B_train_hat)
Y_train_hat

             0
0    30.756786
1    20.422682
2    27.174554
3    24.692692
4    14.717025
..         ...
338  23.150192
339  31.805005
340  15.239591
341  33.552140
342  22.070635

[343 rows x 1 columns]

#### Test data

In [10]:
Y_test = df_test['medv'] #response variable from test data
Y_test

0      21.6
1      34.7
2      27.1
3      18.9
4      18.9
       ...
142    24.5
143    19.7
144    16.8
145    23.9
146    11.9
Name: medv, Length: 147, dtype: float64

In [11]:
Z_test_col = df_test.columns.delete(12) #columns of predictor variables
Z_test=df_test[Z_test_col] #predictor variables
ones=pd.DataFrame(np.ones(len(df_test),dtype=np.int8))
Z_test=pd.concat([ones,Z_test],axis=1)
Z_test=Z_test.T.reset_index(drop=True).T #reset columns
Z_test #predictor variables with constant term

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,242.0,17.8,396.90,9.14
1,1.0,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,242.0,17.8,392.83,4.03
2,1.0,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,311.0,15.2,396.90,19.15
3,1.0,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,311.0,15.2,386.71,17.10
4,1.0,0.11747,12.5,7.87,0.0,0.524,6.009,82.9,6.2267,311.0,15.2,396.90,13.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,1.0,0.27957,0.0,9.69,0.0,0.585,5.926,42.6,2.3817,391.0,19.2,396.90,13.59
143,1.0,0.28960,0.0,9.69,0.0,0.585,5.390,72.9,2.7986,391.0,19.2,396.90,21.14
144,1.0,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,391.0,19.2,396.90,14.33
145,1.0,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,273.0,21.0,396.90,5.64
146,1.0,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,273.0,21.0,396.90,7.88

In [12]:
#Fitted values for test data
Y_test_hat = Z_test.dot(B_train_hat)
Y_test_hat

             0
0    24.345907
1    29.880133
2    19.446135
3    19.123273
4    21.119080
..         ...
142  22.320327
143  15.878247
144  20.996992
145  27.194955
146  22.596097

[147 rows x 1 columns]

### Model Summary

In [13]:
#Calculate Model R^2
SSE_train = sum((Y_train-Y_train_hat[0])**2)
SST_train = sum((Y_train-Y_train.mean())**2)
R_square_model = round(1-SSE_train/SST_train,4)
R_square_model

0.7648

In [14]:
#Calculate Model MSE
n_train = len(df_train)
p_train = len(Z_train.columns)
MSE_model = round(SSE_train/(n_train-p_train),3)
MSE_model

14.562

### Prediction Performance

In [15]:
#Calculate Predictive R-square
SSE_test = sum((Y_test-Y_test_hat[0])**2)
SST_test = sum((Y_test-Y_test.mean())**2)
R_square_pred = round(1-SSE_test/SST_test,4)
R_square_pred

0.7637

In [16]:
#Calculate MAE
n_test = len(df_test)
MAE = round(sum(np.abs(Y_test-Y_test_hat[0]))/n_test,3)
MAE

2.911

In [17]:
#Calculate MAPE
MAPE = round(1/n_test*sum(abs(Y_test-Y_test_hat[0])/abs(Y_test)),3)
MAPE

0.158

In [18]:
#Calculate RMSE
RMSE = round((SSE_test/n_test)**0.5,3)
RMSE

3.971

### Write File

In [19]:
f = open("HW2_output.txt",'w')
text = "Coefficients\n-------------\nConstant: "+str(B_train_hat.iloc[0,0])+"\n"
for i in range(1,len(Z_train.columns)):
    text += "Beta"+str(i)+": "+str(B_train_hat.iloc[i,0])+"\n"
text += "\nModel Summary\n-------------\nR-square = " + str(R_square_model) + "\n"
text += "MSE = " + str(MSE_model)
text += "\n\nPrediction Performance\n----------------------\nPredictive R-square = " + str(R_square_pred) + "\n"
text += "MAE = " + str(MAE) + "\n"
text += "MAPE = " + str(MAPE) + "\n"
text += "RMSE = " + str(RMSE)
f.write(text)
f.close()

### Python Package

In [20]:
import statsmodels.api as sm

In [21]:
Z_test_col

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'tax',
       'ptratio', 'black', 'lstat'],
      dtype='object')

In [22]:
x = df_train[Z_train_col]
x = sm.add_constant(x)
y = df_train['medv']

In [23]:
#Linear Regression
model = sm.OLS(y, x).fit()
predictions = model.predict(x) 
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   medv   R-squared:                       0.765
Model:                            OLS   Adj. R-squared:                  0.756
Method:                 Least Squares   F-statistic:                     89.42
Date:                Sun, 18 Sep 2022   Prob (F-statistic):           5.74e-96
Time:                        22:38:28   Log-Likelihood:                -939.39
No. Observations:                 343   AIC:                             1905.
Df Residuals:                     330   BIC:                             1955.
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         23.6846      4.697      5.043      0.000      14.445      32.924
crim          -0.0737      0.032     -2.337      0.020      -0.136      -0.012
zn             0.0300      0.014      2.173      0.031       0.003       0.057
indus         -0.0753      0.055     -1.360      0.175      -0.184       0.034
chas           1.1091      0.898      1.236      0.217      -0.657       2.875
nox           -5.2748      3.624     -1.455      0.147     -12.405       1.855
rm             4.0008      0.412      9.707      0.000       3.190       4.812
age           -0.0363      0.013     -2.847      0.005      -0.061      -0.011
dis           -1.0796      0.197     -5.479      0.000      -1.467      -0.692
tax           -0.0050      0.002     -2.319      0.021      -0.009      -0.001
ptratio       -0.6775      0.126     -5.387      0.000      -0.925      -0.430
black          0.0069      0.003      2.329      0.020       0.001       0.013
lstat         -0.3650      0.051     -7.144      0.000      -0.466      -0.265
==============================================================================
Omnibus:                       76.430   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              172.369
Skew:                           1.112   Prob(JB):                     3.72e-38
Kurtosis:                       5.668   Cond. No.                     1.44e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [24]:
import sklearn
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_absolute_percentage_error as mape
from sklearn.metrics import mean_squared_error as mse

In [25]:
#Prediction Performance using Python Package
print('Predictive R-square: ', round(r2(Y_test, Y_test_hat[0]),3))
print('MAE: ', round(mae(Y_test, Y_test_hat[0]),3))
print('MAPE: ', round(mape(Y_test, Y_test_hat[0]),3))
print('RMSE: ', round((mse(Y_test, Y_test_hat[0]))**0.5,3))

Predictive R-square:  0.764
MAE:  2.911
MAPE:  0.158
RMSE:  3.971